.sendMsg{
    input{
        width: 78%;
        font-size: 15px;
     font-weight : 550;
          margin-left: 5px ;
          margin-bottom: -3px

    }
    button{
        width: 18%;
        font-size: 15px;
        font-weight: 550;
        margin:4px 5% -13px 5%;
        max-width: 200px;
        
    }
}